@model HotelMgmtSys.Models.SignupViewModel

@{
    ViewData["Title"] = "Signup";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Signup" method="post">
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MobileNumber"></label>
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdProof"></label>
        <input asp-for="IdProof" class="form-control" />
        <span asp-validation-for="IdProof" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Signup</button>
    </div>
</form>

