@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1><br />

<p>We are the prestigious group of a chain of Hotels. We give the best service and faacilities to our customers.</p>
<br />
<p>We comes under one of the Top Hotels of the world with are Hotels in all around the world including 76 Countries.
    We are one of the Prestigious legacy keeper.<br /><br />
    Please Enjoy Your Stay!</p>
