@model RoomBookingViewModel

<h2>Book Room</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Room Details</h3>
        <table class="table">
            <tr>
                <td>Room Type:</td>
                <td>@Model.RoomType</td>
            </tr>
            <tr>
                <td>Fare:</td>
                <td>@Model.Fare</td>
            </tr>
            <tr>
                <td>Capacity:</td>
                <td>@Model.Capacity</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Booking Details</h3>
        <form asp-action="BookRoom" method="post">
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="CheckInDate">Check In Date:</label>
                <input asp-for="CheckInDate" class="form-control" />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate">Check Out Date:</label>
                <input asp-for="CheckOutDate" class="form-control" />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromTime">From Time:</label>
                <input asp-for="FromTime" class="form-control" />
                <span asp-validation-for="FromTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToTime">To Time:</label>
                <input asp-for="ToTime" class="form-control" />
                <span asp-validation-for="ToTime" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Book Room</button>
        </form>
    </div>
</div>


