@{
    ViewData["Title"] = "Services";
}

<h1>@ViewData["Title"]</h1><br />

<p>Our services are best in the world. It is one of our key for people attraction toward us.</p>
<br />
<p>
    Our Most Used Services Are:
    <ul>
        <li>
            Hotel Stays 
        </li>
        <li>
            Weddings
        </li>
        <li>
            Events
        </li>
        <li>
            And Many More Only For You
        </li>
    </ul><br />
    We also provide the event arrangment and many other services.<br /><br />
    We also has tie-ups with some good businesses which can help you in making your dream true.<br /><br />
    Please Enjoy Your Stay!
</p>
